main{
    margin-left: 240px;
        width: calc(100% - 240px);
       
        margin-top: 60px;
        background-color: rgb(222, 215, 215);
}

.container{
background-color: white;
margin: 12px;
margin-bottom: 0;
border-radius: 5px;
   padding: 12px;
}