header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            margin: 0px 240px;
            background-color: #f8f9fa;
        }
