.dropdownContainer{
    margin-top: 12px;
    display: flex;
   gap: 20px;
    
}
.selectDropdown{
    padding: 10px 60px;
    border-radius: 5px;
}

.clearButton{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color:white;
    background-color: rgb(180, 73, 136);
}