table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;
    text-align: center;
}

thead {
    background-color: #007bff;
    color: white;
}

th,
td {
    padding: 12px;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

button {
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.action{
    display: flex;
    justify-content: center;
    gap: 12px;
    font-size: 24px;
}

.deleteButton{

    color: rgb(180, 73, 136);
}